<div class="page-header"><h1>{{activeVideo.pickerTitle}}</h1><h3 ng-show="activeVideo.transcript != activeVideo.pickerTitle">{{activeVideo.transcript}}</h3></div><div class="page-content"><moji-player item="activeVideo" play-button="true" width="240" height="240"></moji-player><moji-description item="activeVideo"></moji-description></div><div class="share-btns" style="padding-bottom: 12px;     border-top: 1px solid #D6E6EC"><h4>Share</h4><!-- <div>
    <input type="text" value="{{canonicalUrl}}" style="display:block">

  </div> --></div>